body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --back-color: #f1d8ab83;
  --text-color: #654321;
  --heading-color: #654321;
}
body {
  background-color: rgba(205, 140, 140, 0.323);
  color: var(--text-color);
}
body h2 {
  color: var(--heading-color);
}


body {
  background-color: white;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}
@media (min-width: 761px) {
  body {
    background-color: whitesmoke;
  }
}