.footer {
  background-color: #f1d9abc2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
  gap: 10px;
}
.tmh{
  text-decoration: none;
  color: inherit;
}
.tmh:hover{
  color: blue;
}
@media (max-width: 760px) {
  .footer {
    display: inline-block;
    padding-left: 5px;
    padding-top: 10px;
  }
}
